# CrossFit Games Open 2019

## Intro

## Data Prep

#### Read in Packages

In [1]:
import pandas as pd
from datetime import date

#### Read in Last Year's Data

In [2]:
athletes18 = pd.read_csv("/Users/silv6928/Data/athletes_2018.csv")

#### Read in This Year's Data

Comments about scripts

In [3]:
today = str(date.today())
athletes19_men = pd.read_csv("/Users/silv6928/Data/athletes_men_2019_"+ today + ".csv")
athletes19_women = pd.read_csv("/Users/silv6928/Data/athletes_women_2019_"+ today + ".csv")
athletes19 = pd.concat([athletes19_men, athletes19_women], ignore_index = True)

In [4]:
athletes18.head()
athletes19.head()

,affiliateId,affiliateName,age,competitorId,competitorName,countryOfOriginCode,countryOfOriginName,divisionId,firstName,gender,height,lastName,postCompStatus,profilePicS3key,status,weight
0,0,NaN,39,1565585,Cristian Giampapa,IT,Italy,18,Cristian,M,NaN,Giampapa,NaN,pukie.png,ACT,NaN
1,5360,CrossFit Siam,38,1208940,Tomas Jacso,DK,Denmark,18,Tomas,M,74.0,Jacso,NaN,pukie.png,ACT,190.0
2,358,CrossFit Rutherford,28,1384548,Louis Bunch,US,United States,1,Louis,M,NaN,Bunch,NaN,pukie.png,ACT,NaN
3,18510,CrossFit Woolwich,31,992771,Rob West,GB,United Kingdom,1,Rob,M,NaN,West,NaN,pukie.png,ACT,NaN
4,6543,Ravage CrossFit,46,1569294,David Smith,US,United States,3,David,M,NaN,Smith,NaN,pukie.png,ACT,NaN

In [5]:
num_athletes18 = athletes18["competitorId"].nunique()
num_athletes18

399489

In [6]:
num_athletes19 = athletes19["competitorId"].nunique()
num_athletes19

40957

In [7]:
# Number of People who signed up last year vs. Number of people who signed up so far in 2019
(num_athletes19/num_athletes18)*100

10.252347373769991